.site-footer {
    background-color: #29652d;
    color: #fff;
    padding: 2rem 0;
}

.site-footer h2 {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: normal;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
}

.footer-wrap {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5rem;
}

.footer-wrap > div {
    flex-basis: 33%;
}

.footer-links ul {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
}

.footer-links li {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-payment-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2rem 0 1rem;
}

.footer-payment-list li {
    margin-right: 1rem;
}

.footer-payment-list svg {
    max-width: 50px;
    max-height: 20px;
}

.footer-payment-list path {
    fill: #fff;
}

.footer-copyright {
    text-align: center;
    font-size: 0.75rem;
}